body
{
    background-image: url("img/star.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;

    font-family: 'Black Ops One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Saira Stencil One', cursive;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: grey;

    overflow: auto;
}
table
{
    width: 100%;
    align-self: center;
}
td
{
    padding-top: 0%;
    padding-bottom: 0.5%;
    text-align: center;
}
button:hover
{
    background-color: #4682B4;
}
button:disabled
{
    background-color: #DDDDDD;
    cursor: not-allowed;
}
.normal
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    border-radius: 5px;
    background-color: #191970;
    border: none;
    color: white;
    padding: 12px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.grande
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    margin-top: 5px;
    background-color: #191970;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px;
    width: 309px;
    height: 40px;
    cursor: pointer;
}
.corpo
{
    position: absolute;
    background-color:black;
    opacity:0.9; /* Levemente transparente */

    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding-left:2%;
    padding-right:2%;

    height:96%;
    padding-top:2%;
    padding-bottom:2%;

    border-radius:15px;
}
.informacoes
{
    display: inline-block;
    text-align: center;
    margin: 0%;
    color: whitesmoke;
    font-size: 0.875em;
    float:left;
}
.ranking
{
    text-align: center;
    margin: 0%;
    color: whitesmoke;
    font-size: 0.875em;
    float:right;
}
.lateral
{
    width: 30%;
    margin: auto;
}
.meio
{
    width: 40%;
}
#tela, #CanvasNextPiece
{
    border: solid #FFFFFF 2px;
}
#proxPeca
{
    font-size: 0.875em;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
#titulo
{
    font-size: 3em;
    font-family: 'Saira Stencil One', cursive;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
#jogo
{
    text-align: center;
    margin: 0%;
}
#score, #segundo, #minuto, #stage, #deletedLines, #rankingJogador
{
    display: inline-block;
}
