html
{
    height: 100%;
    width: 100%;
}
body
{
    background-image: url("img/star.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;

    font-family: 'Black Ops One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Saira Stencil One', cursive;

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: grey;

    overflow: auto;
}
table
{
    width: 100%;
    align-self: center;
}
td
{
    padding-top: 0%;
    padding-bottom: 0.5%;
    text-align: center;
}
form
{
    text-align: center;
}
button:hover
{
    background-color: #4682B4;
}
button:disabled
{
    background-color: #DDDDDD;
    cursor: not-allowed;
}
.normal
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    border-radius: 5px;
    background-color: #191970;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.grande
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    margin-top: 5px;
    background-color: #191970;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 1 auto 0;
}
.grande_login
{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    margin-top: 5px;
    background-color: #191970;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.corpo
{
    text-align: center;
    position: absolute;
    background-color:black;
    opacity:0.9; /* Levemente transparente */

    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding-left:2%;
    padding-right:2%;

    height:92%;
    margin-top:2%;
    margin-bottom:1%;
    padding-top:0%;
    padding-bottom:0%;

    border-radius:15px;
    color: whitesmoke;
}

.corpo_menor
{
    position: absolute;
    background-color: black;
    opacity:0.9; /* Levemente transparente */

    width:50%;
    margin-left:20%;
    margin-right:20%;
    padding-left:5%;
    padding-right:5%;

    height:60%;
    margin-top:10%;
    margin-bottom:5%;
    padding-top:1%;
    padding-bottom:1%;

    border-radius:15px;
    color: whitesmoke;
}

.informacoes
{
    display: inline-block;
    text-align: center;
    margin: 0%;
    color: whitesmoke;
    font-size: 0.875em;
    float:left;
}
.ranking
{
    text-align: center;
    margin: 0%;
    color: whitesmoke;
    font-size: 0.875em;
    float:right;
}
.lateral
{
    width: 30%;
    margin: auto;
}
.meio
{
    width: 40%;
}
#test
{
    margin-left: 500px;
}
#tela, #CanvasNextPiece
{
    border: solid #FFFFFF 2px;
}
#proxPeca
{
    font-size: 0.875em;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
#titulo
{
    font-size: 3em;
    font-family: 'Saira Stencil One', cursive;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
#jogo
{
    text-align: center;
    margin: 0%;
}
#score, #segundo, #minuto, #stage, #deletedLines, #rankingJogador
{
    display: inline-block;
}
#gambiarra
{
    float: left;
    margin-left: 10%;
}

#gambiarratable
{
    margin-top: 200%;
}